* {
  font-family: 'proxima_novabold', sans-serif;
  margin: 0px;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  scroll-behavior: smooth;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #FFC72C;
}

section {
  padding: 5rem 10%;
  background-color: #182024;
}


span {
  color: #FFC72C;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  text-transform: capitalize;
  color: #fff;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  background: #dbab26;
  color: #fff;
  cursor: pointer;
  text-transform: capitalize;
  animation: animatetext 7s;
  border-radius: 10px;
}
.btn1 {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  background: #dbab26;
  color: #fff;
  cursor: pointer;
  text-transform: capitalize;
  animation: animatetext 7s;
  border-radius: 10px;
  align-content: center;
}
.btn:hover {
  background: #ab851b;
  color: #fff;
}

.btn:active {
  background-color: #171E22;
  transition: 0.01s;
}


.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #11171a;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 0rem 14%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1000;
}

.headerimage {
  height: 8rem;
  margin: 22px;
  animation: animatetext 2s;
}

.header .logo {
  margin-right: auto;
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #fff;
  font-weight: bolder;
  animation: animatetext 2s;
}

.header .logo i {
  color: #FFC72C;
}

.header .navbar {
  position: relative;

}

.header .navbar #close-navbar {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: #fff;
  display: none;
}

.header .navbar #close-navbar:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.header .navbar a {
  margin-right: 2rem;
  font-size: 1.2rem;
  color: #fff;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif
}

.header .navbar a:hover {
  color: #FFC72C;
}

.header .icons div {
  cursor: pointer;
  font-size: 2.5rem;
  color: #fff;
  margin-left: 1.5rem;
}

.header .icons div:hover {
  color: #FFC72C;
}

.header #menu-btn {
  display: none;
}
.home{
  display: flex;
  align-items: center;
  min-height: 77vh;
  background:url(img/apiary.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content{
  max-width: 50rem;
  text-transform: capitalize;
  animation: animatetext 5s;
  /* max-height: 40rem; */
}

.home .content h3{
  font-size: 6rem;
  color:#fff;
}

.home .content span{
  font-size: 3.5rem;
  color:var(--pink);
  padding:1rem 0;
  line-height: 1.5;
  color: #FFC72C;
}

.home .content p{
  font-size: 1.5rem;
  color:#fff;
  padding:1rem 0;
  line-height: 1.5;
  animation: animatetext 5s;
}

.about .row{
  display: flex;
  align-items: center;
  gap:2rem;
  flex-wrap: wrap;
  padding:2rem 0;
  padding-bottom: 3rem;
}

.about .row .video-container{
  flex:1 1 40rem;
  position: relative;
}

.about .row .video-container video{
  width:100%;
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  height: 100%;
  object-fit: cover;
  text-transform: capitalize;
}

.about .row .video-container h3{
  position: absolute;
  top:50%; transform: translateY(-50%);
  font-size: 3rem;
  background:#333;
  width:100%;
  padding:1rem 2rem;
  text-align: center;
  mix-blend-mode: screen;
  text-transform: capitalize;
}

.about .row .content{
  flex:1 1 40rem;
}

.about .row .content h3{
  font-size: 3rem;
  color:#fff;
}

.about .row .content p{
  font-size: 1.5rem;
  color:#999;
  padding:.5rem 0;
  padding-top: 1rem;
  line-height: 1.5;
  animation: animatetext 5s;
}
.cart-btn{
  height: 5rem;
  line-height: 5rem;
  font-size: 1.7rem;
  width: 50%;
  background: #11181A;
  color: #fff;
}
.cart-btn:hover{
  height: 5rem;
  line-height: 5rem;
  font-size: 1.7rem;
  width: 50%;
  background: #ffc72c;
  color: #fff;
}
.icons-container{
  background: #242F35;
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.icons-container .icons{
  background: #ececec;
  border: 0.1rem solid rgba(0,0,0,.1);
  padding:2rem;
  display: flex;
  align-items: center;
  flex:1 1 25rem;
  border-radius: 8px;
  border-color: #ffc72c;
}
.fa-solid, .fas:hover{
  font-weight: 900;
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  width: 80%;
  background: #ffc72c;
  color: #fff;
}
.fa-solid, .fas{
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  width: 80%;
  background: #11181A;
  color: #fff;
}
.icons-container .icons img{
  height:5rem;
  margin-right: 2rem;
}

.icons-container .icons h3{
  color: #FFC72C;
  padding-bottom: .5rem;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.icons-container .icons span{
  color: #333;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.products .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.products .box-container .box{
  flex:1 1 30rem;
  box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
  border-radius: .5rem;
  border:.1rem solid rgba(0,0,0,.1);
  position: relative;    
}

.products .box-container .box .discount{
  position: absolute;
  top:1rem;
  left:1rem;
  padding:.7rem 1rem;
  font-size: 2rem;
  color: white;
  font-style: italic;
  background: rgb(255 0 0 / 50%);
  z-index: 1;
  border-radius: .5rem;
}

.products .box-container .box .image{
  position: relative;
  text-align: center;
  padding-top: 2rem;
  overflow:hidden;
}

.products .box-container .box .image img{
  height:25rem;
}

.products .box-container .box:hover .image img{
  transform: scale(1.1);
}

.products .box-container .box .image .icons{
  position: absolute;
  bottom:-7rem; left:0; right:0;
  display: flex;
}

.products .box-container .box:hover .image .icons{
  bottom:0;
}

.products .box-container .box .image .icons a{
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  width:50%;
  background: #11181A;
  color: #fff;
}

.products .box-container .box .image .icons .cart-btn{
  border-left: .1rem solid #fff;
  border-right: .1rem solid #fff;
  width: 81rem;
  text-transform: capitalize;
}

.products .box-container .box .image .icons a:hover{
background-color: #ffc72c;
  width: 81rem;
  text-transform: capitalize;
}

.products .box-container .box .content{
  padding:2rem;
  text-align: center;
}

.products .box-container .box .content h3{
  font-size: 2.5rem;
  color:#fff;
  text-transform: capitalize;
}

.products .box-container .box .content .price{
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
  padding-top: 1rem;
}

.products .box-container .box .content .price span{
  font-size: 1.5rem;
  color:#fff;
  font-weight: lighter;
  text-decoration: line-through;
}

.review .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.review .box-container .box{
  flex:1 1 30rem;
  box-shadow: 0 .5rem 1.5rem rgba(40, 40, 40, 0.1);
  border-radius: .5rem;
  padding:3rem 2rem;
  position: relative;
  border:.1rem solid rgba(0,0,0,.1);
}

.review .box-container .box .fa-quote-right{
  position: absolute;
  bottom:3rem; right:3rem;
  font-size: 6rem;
  color:#eee;
}

.review .box-container .box .stars i{
  color: gold;
  font-size: 2rem;
}

.review .box-container .box p{
  color:#fff;
  font-size: 1.5rem;
  line-height: 1.5;
  padding-top: 2rem;
}

.review .box-container .box .user{
  display: flex;
  align-items: center;
  padding-top: 2rem;
}

.review .box-container .box .user img{
  height:6rem;
  width:6rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.review .box-container .box .user h3{
  font-size: 2rem;
  color:#fff;
}

.review .box-container .box .user span{
  font-size: 1.5rem;
  color:#999;
}

.contact .row{
  display: flex;
  flex-wrap: wrap-reverse;
  gap:1.5rem;
  align-items: center;
}

.contact .row form{
  flex:1 1 40rem;
  padding:2rem 2.5rem;
  box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
  border:.1rem solid rgba(0,0,0,.1);
  background: #fff;
  border-radius: .5rem;
}

.contact .row .image{
  flex:1 1 40rem;
}

.contact .row .image img{
  width: 100%;
}

.contact .row form .box{
  padding:1rem;
  font-size: 1.7rem;
  color:#fff;
  text-transform: none;
  border:.1rem solid rgba(0,0,0,.1);
  border-radius: .5rem;
  margin:.7rem 0;
  width: 100%;
}

.contact .row form .box:focus{
  border-color: var(--pink);
}

.contact .row form textarea{
  height: 15rem;
  resize: none;
}
input[type=text],
select,
textarea {
width: 100%;
padding: 12px;
border: 1px solid #242F35;
border-radius: 4px;
box-sizing: border-box;
resize: vertical;
background-color: #171E22;
color: #fff;
}
.container h1{
text-align: center;
font-size: 4rem;
}
/* Style the label to display next to the inputs */
label {
padding: 12px 12px 12px 0;
display: inline-block;
font-size: 2rem;

}
label:hover{
color: #FFC72C;
}

/* Style the submit button */
input[type=submit] {
background-color: #d9a926;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
float: right;
}

input[type=submit]:hover {
background-color: #ab851b;
}

/* Style the container */
.container {
background-color: #242F35;
padding: 20px;
color: white;
}

/* Floating column for labels: 25% width */
.col-25 {
float: left;
width: 25%;
margin-top: 6px;
padding: -2px 54px;
margin-right: -158px;
}

/* Floating column for inputs: 75% width */
.col-75 {
float: left;
width: 75%;
margin-top: 6px;

}
.footer {
  background: #212B30;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box h3 i {
  color: #FFC72C;
}

.footer .box-container .box .share {
  margin-top: 1rem;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  background-color: #d3a422;
  color: #fff;
  margin-right: .3rem;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background-color: #fff;
}

.footer .box-container .box .link {
  font-size: 1.7rem;
  line-height: 2;
  color: #fff;
  padding: .5rem 0;
  display: block;
}

.footer .box-container .box .link:hover {
  color: #FFC72C;
  text-decoration: underline;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #fff;
  padding: 1rem 0;
}


.footer .credit {
  text-align: center;
  margin-top: 3rem;
  padding-top: 3rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #fff;
  border-top: 0.1rem solid #FFC72C;
}

.footer .credit span {
  color: #FFC72C;
}

#account-btn{
  margin-left: 0.92rem;
  height: 4vh;
  text-decoration: none;
}

@keyframes animatetext {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}






/* media queries  */

@media (max-width: 1200px) {
  .header {
    padding: 2rem 5%;
  }

  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5REM;
  }

  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: fixed;
    top: 0;
    right: -105%;
    width: 30rem;
    background: #171E22;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 1200;
  }

  .header .navbar #close-navbar {
    display: block;
  }
  .header .navbar.active {
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    right: 0;
  }

  .header .navbar a {
    display: block;
    margin: 1rem 0;
    text-align: center;
    font-size: 2.3rem;
  }

  .home .slide .content h3 {
    font-size: 5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 3rem;
  }

  .about .content .about-title {
    font-size: 4rem;
  }
}

@media(max-width:960px) {
  .container {
    padding-right: 3rem;
    padding-left: 3rem;
    font-size: 1.2rem;
    ;
  }
}
@media (max-width: 700px) {
  .scroll-down {
    display: none;
  }
}
@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

@-moz-keyframes fade_move_down {
  0% {
    -moz-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -moz-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

@keyframes fade_move_down {
  0% {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

@media screen and (max-width: 600px) {

  .col-25,
  .col-75,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 3rem;
  }

  .about .content .about-title {
    font-size: 4rem;
  }
}